<html>
    <head>
        <title>Spotify</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/spotify.css"/>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <script src="js/header.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row first_menu">
                <div class="col-2 sf-gray-primary">
                    <header class="header clearfix navbar-shrink before_menu">
                        
                        <ul class="header__menu animate">
                            <li class="header__menu__item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="header__menu__item"><a href="/"><i class="fa fa-search" aria-hidden="true"></i> Ricerca avanzata</a></li>
                            <li class="header__menu__item"><a href="/"><i class="fa fa-folder" aria-hidden="true"></i> Genere</a></li>
                            <br/>

                            <label>Top 50</label>

                            <li class="header__menu__item"><a href="/">Top 50 dance</a></li>
                            <li class="header__menu__item"><a href="/">Top 50 instrumental</a></li>
                            <li class="header__menu__item"><a href="/">Top 50 artists</a></li>
                            <br/>

                            <label>Aggiungi/modifica</label>
                            <li class="header__menu__item"><a href="/">Aggiungi artista</a></li>
                            <li class="header__menu__item"><a href="/">Modifica artista</a></li>
                            <li class="header__menu__item"><a href="/">Aggiungi brano</a></li>
                            <li class="header__menu__item"><a href="/">Modifica brano</a></li>
                        </ul>
                    </header>
                </div>
                <div class="col-8 sf-playlist">
                    <br/>
                    <div class="row search_bar">
                        <div class="col-2">
                            <a href="" class="header__icon-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>  
                        <div class="col-3">
                            <input class="form-control sf-input" placeholder="Search..."/>
                        </div>      
                    </div>
                    <header class="header clearfix navbar-shrink after_menu">
                        
                        <ul class="header__menu animate for_swipe">
                            <li class="header__menu__item"><a href="/">Home</a></li>
                            <li class="header__menu__item"><a href="/">Ricerca avanzata</a></li>
                            <li class="header__menu__item"><a href="/">Genere</a></li>

                            <label class="label_menu">Top 50</label>

                            <li class="header__menu__item"><a href="/">Top 50 dance</a></li>
                            <li class="header__menu__item"><a href="/">Top 50 instrumental</a></li>
                            <li class="header__menu__item"><a href="/">Top 50 artists</a></li>

                            <label class="label_menu">Aggiungi/modifica</label>
                            <li class="header__menu__item"><a href="/">Aggiungi artista</a></li>
                            <li class="header__menu__item"><a href="/">Modifica artista</a></li>
                            <li class="header__menu__item"><a href="/">Aggiungi brano</a></li>
                            <li class="header__menu__item"><a href="/">Modifica brano</a></li>
                        </ul>
                    </header>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            <h4 class="title">TOP 100</h4>
                        </div>              
                    </div>
                    <br/>

                    <div class="row">
                        <div class="col-12">
                            <div style="overflow: auto">
                                <table class="table">
                                    <thead>
                                        <th>#</th>
                                        <th></th>
                                        <th>TITOLO</th>
                                        <th>ARTISTA</th>
                                        <th>DURATA</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td></td>
                                            <td>Disposable Heroes - Live At The Masonic, San Francisco, CA - November 3rd, 2018</td>
                                            <td>RJveneruso</td>
                                            <td>7:30</td>
                                        </tr>                                                                                                                                                                                                                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>