<html>
    <head>
        <title>Music Library</title>
        <link rel="shortcut icon" href="#">
        <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/index.css"/>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <script src="js/header.js"></script>
        <script src="js/editDb.js"></script>
        <link rel="stylesheet" href="@sweetalert2/theme-dark/dark.css">
    </head>
    <body>
        <div class="container">
            <div class="row first_menu">
                <div class="col-2 sf-gray-primary">
                    <header class="header clearfix navbar-shrink before_menu">
                        
                        <ul class="header__menu animate">
                            <li class="header__menu__item"><a href="/?page=home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="header__menu__item"><a href="/?page=genres"><i class="fa fa-folder" aria-hidden="true"></i> Genere</a></li>
                            <br/>

                            <label>Top 50</label>

                            <li class="header__menu__item"><a href="/?page=dance">Top 50 dance</a></li>
                            <li class="header__menu__item"><a href="/?page=instrumental">Top 50 strumentale</a></li>
                            <li class="header__menu__item"><a href="/?page=artist">Top 50 artists</a></li>
                            <br/>

                            <label>Aggiungi/modifica</label>
                            <li class="header__menu__item"><a class="addArtist" href="javascript:void(0)">Aggiungi artista</a></li>
                            <li class="header__menu__item"><a href="javascript:void(0)">Modifica artista</a></li>
                            <li class="header__menu__item"><a href="javascript:void(0)">Aggiungi brano</a></li>
                            <li class="header__menu__item"><a href="javascript:void(0)">Modifica brano</a></li>
                        </ul>
                    </header>
                </div>
                <div class="col-8 sf-playlist">
                    <br/>
                    <div class="row search_bar">
                        <div class="col-2">
                            <a href="" class="header__icon-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>  
                        <div class="col-3">
                            <%if(name=='Top 50 artisti'){%>
                                <input class="form-control sf-input search_artist" placeholder="Cerca artista..."/>
                            <%}
                            else if(name=='Generi'){%>
                                <input class="form-control sf-input search_genre" placeholder="Cerca genere..."/>
                            <%}
                            else{%>
                                <input class="form-control sf-input search_song" placeholder="Cerca canzone..."/>
                            <%}%>
                        </div>      
                    </div>
                    <header class="header clearfix navbar-shrink after_menu">
                        
                        <ul class="header__menu animate for_swipe">
                            <li class="header__menu__item"><a href="/?page=home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="header__menu__item"><a href="/?page=genres"><i class="fa fa-folder" aria-hidden="true"></i> Genere</a></li>

                            <label class="label_menu">Top 50</label>

                            <li class="header__menu__item"><a href="/?page=dance">Top 50 dance</a></li>
                            <li class="header__menu__item"><a href="/?page=instrumental">Top 50 strumentale</a></li>
                            <li class="header__menu__item"><a href="/?page=artist">Top 50 artists</a></li>

                            <label class="label_menu">Aggiungi/modifica</label>
                            <li class="header__menu__item"><a class="addArtist" href="javascript:void(0)">Aggiungi artista</a></li>
                            <li class="header__menu__item"><a href="javascript:void(0)">Modifica artista</a></li>
                            <li class="header__menu__item"><a href="javascript:void(0)">Aggiungi brano</a></li>
                            <li class="header__menu__item"><a href="javascript:void(0)">Modifica brano</a></li>
                        </ul>
                    </header>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            <h4 class="title"><%=name%></h4>
                        </div>              
                    </div>
                    <br/>
                   
                    <div class="row">
                        <div class="col-12">
                            <div style="overflow: auto">
                                <table class="table">
                                    <thead>
                                        <%if(name=='Top 50 artisti'){
                                            %>
                                            <th>#</th>
                                            <th></th>
                                            <th>NOME</th>
                                            <th>GENERI</th>
                                            <th>FOLLOWERS</th>
                                            <%
                                        }
                                        else if(name=='Generi'){%>
                                            <th>#</th>
                                            <th></th>
                                            <th>GENERE</th>
                                            <th>ARTISTI</th>
                                            <th></th>
                                        <%}
                                        else{
                                            %>
                                            <th>#</th>
                                            <th></th>
                                            <th>TITOLO</th>
                                            <th>ARTISTA</th>
                                            <th>DURATA</th>
                                            <%
                                        }%>
                                        
                                    </thead>
                                    <tbody class="table_body">                                                                                                                                                                                                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>

    <script>
        const pageName= '<%-name%>'
        const pageData= JSON.parse('<%-data%>')
    </script>
</html>